kind: ConfigMap
apiVersion: v1
metadata:
  name: process
  namespace: {{ .Values.namespace }}

data:
  config.yml: |+
    # model 模式 debug|release
    # debug模式，可以输出更加详细的日志，但是运行速度会减慢
    model: debug

    port: :80

    #-------------------mysql配置---------------------
    mysql:
      db: {{ .Values.config.mysql.db }}
      host: {{ .Values.config.mysql.host }}
      user: {{ .Values.config.mysql.user }}
      password: {{ .Values.config.mysql.password }}
      log: {{ .Values.config.mysql.log }}



    #  -------------------- log --------------------
    # comply with zap log specification
    log:
      level: -1
      development: false
      sampling:
        initial: 100
        thereafter: 100
      outputPath:
        - stderr
      errorOutputPath:
        - stderr

    #  -------------------- internalNet --------------------
    internalNet:
      timeout: 20
      maxIdleConns: 10

    #-------------------redis配置-----------------
    redis:
      {{- with .Values.config.redis.addrs }}
      addrs:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      username: {{ .Values.config.redis.username }}
      password: {{ .Values.config.redis.password }}